In [1]:
import pandas as pd
import numpy as np
from swifter import swiftapply

In [2]:
words = pd.DataFrame({'lower_a': np.repeat(' a ',10000000), 'lower_b': np.repeat('_b_',10000000),
                     'x1': np.random.normal(size=10000000), 'x2': np.random.exponential(size=10000000)})

In [9]:
def get_len(x):
    return x

def to_upper(x):
    return x.upper()

def nonvectorized_func(x,  y):
    if x**2+ y**2 > 5:
        return True
    else:
        return False
    
    
def vectorized_func(x, y):
    return np.where(x**2 + y**2 > 5, True, False)

In [4]:
words['lower_a']

0           a
1           a
2           a
3           a
4           a
5           a
6           a
7           a
8           a
9           a
10          a
11          a
12          a
13          a
14          a
15          a
16          a
17          a
18          a
19          a
20          a
21          a
22          a
23          a
24          a
25          a
26          a
27          a
28          a
29          a
          ...
9999970     a
9999971     a
9999972     a
9999973     a
9999974     a
9999975     a
9999976     a
9999977     a
9999978     a
9999979     a
9999980     a
9999981     a
9999982     a
9999983     a
9999984     a
9999985     a
9999986     a
9999987     a
9999988     a
9999989     a
9999990     a
9999991     a
9999992     a
9999993     a
9999994     a
9999995     a
9999996     a
9999997     a
9999998     a
9999999     a
Name: lower_a, Length: 10000000, dtype: object

In [10]:
swiftapply(words['lower_a'], get_len)

AttributeError: 'str' object has no attribute 'strlen'

In [5]:
%time swiftapply(words['x1'], vectorized_func, y=3)

CPU times: user 33.4 ms, sys: 40.7 ms, total: 74.2 ms
Wall time: 73.1 ms

array([ True,  True,  True, ...,  True,  True,  True])

In [6]:
%time swiftapply(words['x1'], nonvectorized_func, y=3)

CPU times: user 807 ms, sys: 559 ms, total: 1.37 s
Wall time: 2.36 s

0          True
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
           ...
9999970    True
9999971    True
9999972    True
9999973    True
9999974    True
9999975    True
9999976    True
9999977    True
9999978    True
9999979    True
9999980    True
9999981    True
9999982    True
9999983    True
9999984    True
9999985    True
9999986    True
9999987    True
9999988    True
9999989    True
9999990    True
9999991    True
9999992    True
9999993    True
9999994    True
9999995    True
9999996    True
9999997    True
9999998    True
9999999    True
Name: x1, Length: 10000000, dtype: bool

In [6]:
%time swiftapply(words[['x1','x2']], vectorized_func, y=3)

CPU times: user 81.3 ms, sys: 129 ms, total: 210 ms
Wall time: 208 ms

           x1    x2
0        True  True
1        True  True
2        True  True
3        True  True
4        True  True
5        True  True
6        True  True
7        True  True
8        True  True
9        True  True
10       True  True
11       True  True
12       True  True
13       True  True
14       True  True
15       True  True
16       True  True
17       True  True
18       True  True
19       True  True
20       True  True
21       True  True
22       True  True
23       True  True
24       True  True
25       True  True
26       True  True
27       True  True
28       True  True
29       True  True
...       ...   ...
9999970  True  True
9999971  True  True
9999972  True  True
9999973  True  True
9999974  True  True
9999975  True  True
9999976  True  True
9999977  True  True
9999978  True  True
9999979  True  True
9999980  True  True
9999981  True  True
9999982  True  True
9999983  True  True
9999984  True  True
9999985  True  True
9999986  True  True
9999987  True  True
9999988  True  True
9999989  True  True
9999990  True  True
9999991  True  True
9999992  True  True
9999993  True  True
9999994  True  True
9999995  True  True
9999996  True  True
9999997  True  True
9999998  True  True
9999999  True  True

[10000000 rows x 2 columns]

In [7]:
%time swiftapply(words[['x1','x2']], nonvectorized_func, y=3)

swifter.py:32: UserWarning: Dask applymap not working correctly. Concatenating swiftapplies instead.
  warnings.warn('Dask applymap not working correctly. Concatenating swiftapplies instead.')

CPU times: user 1.66 s, sys: 1.57 s, total: 3.23 s
Wall time: 4.91 s

           x1    x2
0        True  True
1        True  True
2        True  True
3        True  True
4        True  True
5        True  True
6        True  True
7        True  True
8        True  True
9        True  True
10       True  True
11       True  True
12       True  True
13       True  True
14       True  True
15       True  True
16       True  True
17       True  True
18       True  True
19       True  True
20       True  True
21       True  True
22       True  True
23       True  True
24       True  True
25       True  True
26       True  True
27       True  True
28       True  True
29       True  True
...       ...   ...
9999970  True  True
9999971  True  True
9999972  True  True
9999973  True  True
9999974  True  True
9999975  True  True
9999976  True  True
9999977  True  True
9999978  True  True
9999979  True  True
9999980  True  True
9999981  True  True
9999982  True  True
9999983  True  True
9999984  True  True
9999985  True  True
9999986  True  True
9999987  True  True
9999988  True  True
9999989  True  True
9999990  True  True
9999991  True  True
9999992  True  True
9999993  True  True
9999994  True  True
9999995  True  True
9999996  True  True
9999997  True  True
9999998  True  True
9999999  True  True

[10000000 rows x 2 columns]

In [4]:
%time swiftapply(words[['x1','x2']], nonvectorized_func, y=3)

/home/jmcarpenter/anaconda2/envs/fastai/lib/python3.6/site-packages/swifter/swifter.py:25: UserWarning: Dask applymap not working correctly. Falling back to pandas apply.
  warnings.warn('Dask applymap not working correctly. Falling back to pandas apply.')

CPU times: user 14.9 s, sys: 689 ms, total: 15.6 s
Wall time: 15.6 s

           x1    x2
0        True  True
1        True  True
2        True  True
3        True  True
4        True  True
5        True  True
6        True  True
7        True  True
8        True  True
9        True  True
10       True  True
11       True  True
12       True  True
13       True  True
14       True  True
15       True  True
16       True  True
17       True  True
18       True  True
19       True  True
20       True  True
21       True  True
22       True  True
23       True  True
24       True  True
25       True  True
26       True  True
27       True  True
28       True  True
29       True  True
...       ...   ...
9999970  True  True
9999971  True  True
9999972  True  True
9999973  True  True
9999974  True  True
9999975  True  True
9999976  True  True
9999977  True  True
9999978  True  True
9999979  True  True
9999980  True  True
9999981  True  True
9999982  True  True
9999983  True  True
9999984  True  True
9999985  True  True
9999986  True  True
9999987  True  True
9999988  True  True
9999989  True  True
9999990  True  True
9999991  True  True
9999992  True  True
9999993  True  True
9999994  True  True
9999995  True  True
9999996  True  True
9999997  True  True
9999998  True  True
9999999  True  True

[10000000 rows x 2 columns]

In [9]:
%time words['x1'].apply(nonvectorized_func, y=3)

CPU times: user 6.81 s, sys: 73.1 ms, total: 6.88 s
Wall time: 6.88 s

0          True
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
           ...
9999970    True
9999971    True
9999972    True
9999973    True
9999974    True
9999975    True
9999976    True
9999977    True
9999978    True
9999979    True
9999980    True
9999981    True
9999982    True
9999983    True
9999984    True
9999985    True
9999986    True
9999987    True
9999988    True
9999989    True
9999990    True
9999991    True
9999992    True
9999993    True
9999994    True
9999995    True
9999996    True
9999997    True
9999998    True
9999999    True
Name: x1, Length: 10000000, dtype: bool

In [25]:
meta = [('x1', bool), ('x2', bool)]

In [32]:
meta = pd.Series(bool)

In [33]:
out = dd.from_pandas(words['x1'], npartitions=8).map(nonvectorized_func, meta=meta).compute(get=get)

In [34]:
out.shape

(10000000,)

In [6]:
%time words[['x1_1','x2_1']] = swiftapply(words[['x1','x2']], vectorized_func)

CPU times: user 95.8 ms, sys: 72 ms, total: 168 ms
Wall time: 166 ms

In [7]:
words

        lower_a lower_b        x1        x2   x1_1   x2_1
0            a      _b_ -1.541636  0.142893  False  False
1            a      _b_  1.217668  0.246792   True  False
2            a      _b_  1.300054  2.612765   True   True
3            a      _b_ -0.239218  0.983412  False  False
4            a      _b_ -1.312804  2.214596  False   True
5            a      _b_ -0.544140  0.471926  False  False
6            a      _b_  0.608069  0.278648  False  False
7            a      _b_  0.637839  6.470588  False   True
8            a      _b_ -0.022498  0.580582  False  False
9            a      _b_  0.386005  0.330936  False  False
10           a      _b_  0.967201  0.025892  False  False
11           a      _b_  0.056331  0.819960  False  False
12           a      _b_ -1.218212  0.696769  False  False
13           a      _b_ -0.004297  1.593614  False   True
14           a      _b_  0.118423  0.175253  False  False
15           a      _b_ -0.431169  2.191584  False   True
16           a      _b_ -0.627005  2.160945  False   True
17           a      _b_  0.373483  0.529102  False  False
18           a      _b_  0.949705  0.594337  False  False
19           a      _b_ -1.003291  0.123195  False  False
20           a      _b_ -0.427197  0.617431  False  False
21           a      _b_  0.666478  0.466649  False  False
22           a      _b_ -1.216182  1.734745  False   True
23           a      _b_ -2.030272  0.588599  False  False
24           a      _b_  0.813158  0.544067  False  False
25           a      _b_ -0.317811  0.460807  False  False
26           a      _b_ -0.776748  0.173935  False  False
27           a      _b_  3.145895  0.460519   True  False
28           a      _b_  0.574498  0.093782  False  False
29           a      _b_ -0.817503  0.312770  False  False
...         ...     ...       ...       ...    ...    ...
9999970      a      _b_ -0.351533  1.136157  False   True
9999971      a      _b_  0.317755  0.322558  False  False
9999972      a      _b_ -0.360073  1.825292  False   True
9999973      a      _b_  0.706241  0.256468  False  False
9999974      a      _b_ -0.758936  1.117704  False   True
9999975      a      _b_ -0.615409  0.288230  False  False
9999976      a      _b_  0.493096  2.997913  False   True
9999977      a      _b_ -0.348342  0.302617  False  False
9999978      a      _b_  0.535615  2.293681  False   True
9999979      a      _b_ -1.365728  0.463839  False  False
9999980      a      _b_ -1.156800  1.785956  False   True
9999981      a      _b_  1.419765  2.859674   True   True
9999982      a      _b_ -0.385033  1.088421  False   True
9999983      a      _b_  0.614104  0.005649  False  False
9999984      a      _b_  1.255526  0.348685   True  False
9999985      a      _b_  0.998629  0.480498  False  False
9999986      a      _b_ -0.349193  1.130360  False   True
9999987      a      _b_  0.344908  0.513020  False  False
9999988      a      _b_  0.065959  0.132523  False  False
9999989      a      _b_ -0.771114  0.553934  False  False
9999990      a      _b_  0.358952  1.572653  False   True
9999991      a      _b_ -0.653070  0.944387  False  False
9999992      a      _b_ -0.707661  0.391700  False  False
9999993      a      _b_ -0.597424  0.513810  False  False
9999994      a      _b_ -0.422452  1.970688  False   True
9999995      a      _b_ -0.320643  0.932176  False  False
9999996      a      _b_ -0.446887  0.019296  False  False
9999997      a      _b_  0.423423  0.671750  False  False
9999998      a      _b_ -1.803774  0.161086  False  False
9999999      a      _b_ -0.658843  0.136702  False  False

[10000000 rows x 6 columns]

In [5]:
%time swiftapply(words[['x1','x2']], vectorized_func)

CPU times: user 116 ms, sys: 64.4 ms, total: 181 ms
Wall time: 182 ms

            x1     x2
0        False  False
1        False   True
2         True  False
3        False  False
4        False  False
5         True  False
6        False   True
7        False  False
8        False   True
9        False  False
10       False  False
11       False  False
12       False  False
13       False   True
14       False   True
15       False   True
16       False   True
17       False   True
18       False  False
19       False  False
20       False   True
21       False  False
22       False   True
23       False  False
24       False  False
25       False   True
26       False  False
27       False  False
28       False  False
29       False  False
...        ...    ...
9999970  False   True
9999971  False  False
9999972  False   True
9999973  False  False
9999974  False  False
9999975  False  False
9999976  False  False
9999977   True  False
9999978  False  False
9999979  False  False
9999980   True   True
9999981  False   True
9999982   True  False
9999983  False  False
9999984  False   True
9999985   True  False
9999986   True   True
9999987  False  False
9999988  False  False
9999989  False  False
9999990  False  False
9999991  False   True
9999992  False   True
9999993  False  False
9999994  False  False
9999995  False  False
9999996  False  False
9999997   True   True
9999998  False  False
9999999  False  False

[10000000 rows x 2 columns]

In [15]:
meta = pd.concat([words.loc[:2, c].apply(to_upper) 
                                          for c in words[['lower_a','lower_b']].columns], axis=1)
object in meta.dtypes.values

True

In [9]:
meta = words['lower_a'].iloc[:2].apply(to_upper)
object in [meta.dtypes]

True

In [10]:
%time swiftapply(words['lower_a'], to_upper)

est_apply_duration 4.065070146073897
pandas
CPU times: user 1.88 s, sys: 179 ms, total: 2.05 s
Wall time: 2.05 s

0           A
1           A
2           A
3           A
4           A
5           A
6           A
7           A
8           A
9           A
10          A
11          A
12          A
13          A
14          A
15          A
16          A
17          A
18          A
19          A
20          A
21          A
22          A
23          A
24          A
25          A
26          A
27          A
28          A
29          A
          ...
9999970     A
9999971     A
9999972     A
9999973     A
9999974     A
9999975     A
9999976     A
9999977     A
9999978     A
9999979     A
9999980     A
9999981     A
9999982     A
9999983     A
9999984     A
9999985     A
9999986     A
9999987     A
9999988     A
9999989     A
9999990     A
9999991     A
9999992     A
9999993     A
9999994     A
9999995     A
9999996     A
9999997     A
9999998     A
9999999     A
Name: lower_a, Length: 10000000, dtype: object

In [7]:
%time words.loc[:10000000,'lower_b'].apply(lambda x: x.strip('_'))

CPU times: user 2.67 s, sys: 35.9 ms, total: 2.71 s
Wall time: 2.71 s

0          b
1          b
2          b
3          b
4          b
5          b
6          b
7          b
8          b
9          b
10         b
11         b
12         b
13         b
14         b
15         b
16         b
17         b
18         b
19         b
20         b
21         b
22         b
23         b
24         b
25         b
26         b
27         b
28         b
29         b
          ..
9999970    b
9999971    b
9999972    b
9999973    b
9999974    b
9999975    b
9999976    b
9999977    b
9999978    b
9999979    b
9999980    b
9999981    b
9999982    b
9999983    b
9999984    b
9999985    b
9999986    b
9999987    b
9999988    b
9999989    b
9999990    b
9999991    b
9999992    b
9999993    b
9999994    b
9999995    b
9999996    b
9999997    b
9999998    b
9999999    b
Name: lower_b, Length: 10000000, dtype: object

In [8]:
.00105/1000*10000000

10.499999999999998

In [9]:
%time swiftapply(words, lambda x: x.count('a'))

KeyError: ('Level a must be same as name (None)', 'occurred at index lower_a')

In [10]:
words.iloc[:2,:].apply(len)

lower_a    2
lower_b    2
x1         2
x2         2
dtype: int64

In [11]:
pd.concat([words['lower_a'], words['lower_b']], axis=1)

        lower_a lower_b
0            a      _b_
1            a      _b_
2            a      _b_
3            a      _b_
4            a      _b_
5            a      _b_
6            a      _b_
7            a      _b_
8            a      _b_
9            a      _b_
10           a      _b_
11           a      _b_
12           a      _b_
13           a      _b_
14           a      _b_
15           a      _b_
16           a      _b_
17           a      _b_
18           a      _b_
19           a      _b_
20           a      _b_
21           a      _b_
22           a      _b_
23           a      _b_
24           a      _b_
25           a      _b_
26           a      _b_
27           a      _b_
28           a      _b_
29           a      _b_
...         ...     ...
9999970      a      _b_
9999971      a      _b_
9999972      a      _b_
9999973      a      _b_
9999974      a      _b_
9999975      a      _b_
9999976      a      _b_
9999977      a      _b_
9999978      a      _b_
9999979      a      _b_
9999980      a      _b_
9999981      a      _b_
9999982      a      _b_
9999983      a      _b_
9999984      a      _b_
9999985      a      _b_
9999986      a      _b_
9999987      a      _b_
9999988      a      _b_
9999989      a      _b_
9999990      a      _b_
9999991      a      _b_
9999992      a      _b_
9999993      a      _b_
9999994      a      _b_
9999995      a      _b_
9999996      a      _b_
9999997      a      _b_
9999998      a      _b_
9999999      a      _b_

[10000000 rows x 2 columns]

In [9]:
pd.DataFrame([pd.Series(vectorized_func(words[c])) for c in words[['x1','x2']].columns], columns = words[['x1','x2']].columns)

   x1  x2
0 NaN NaN
1 NaN NaN

In [13]:
pd.concat([pd.Series(vectorized_func(words['x1']), name='x1'), pd.Series(vectorized_func(words['x2']), name='x2')], axis=1)

            x1     x2
0        False  False
1        False   True
2        False  False
3        False  False
4        False  False
5        False   True
6        False  False
7        False   True
8        False  False
9        False   True
10       False  False
11       False  False
12       False  False
13       False   True
14       False   True
15       False   True
16        True  False
17       False  False
18       False   True
19       False  False
20       False  False
21       False  False
22       False  False
23       False  False
24       False  False
25        True  False
26       False  False
27       False   True
28       False  False
29       False  False
...        ...    ...
9999970  False   True
9999971  False  False
9999972  False  False
9999973  False  False
9999974  False  False
9999975  False  False
9999976  False  False
9999977  False  False
9999978  False  False
9999979  False  False
9999980  False  False
9999981  False   True
9999982  False  False
9999983  False  False
9999984  False  False
9999985  False  False
9999986  False  False
9999987  False  False
9999988  False  False
9999989  False  False
9999990  False   True
9999991  False  False
9999992  False  False
9999993  False  False
9999994   True  False
9999995  False  False
9999996  False  False
9999997  False  False
9999998  False  False
9999999   True   True

[10000000 rows x 2 columns]